language: go
go:
  - 1.16.2
script:
  - GOOS=linux GOARCH=amd64 make dist
  - GOOS=darwin GOARCH=amd64 make dist
  - GOOS=freebsd GOARCH=amd64 make dist
  - GOOS=windows GOARCH=amd64 make dist
deploy:
  provider: releases
  api_key:
    secure: XDSSl46kbimgWtpfLtfFsug5fHLm+5wNR6PRG+PXFhA3b+QXzdqZUW/Fp1YnNeDpUkl1Z3neHYivwfTTBN/IBDo7FHX+Egkvl0HsIBr8hMIksR/h097SyRXi8+Ui/Mq59UtC0eR9KzqAYRHoxwoXP+JCQy5jWXp/DhHF0hHi1Tb+l4Q1qGvV0bhqVOcjGcVjkOTzco+c0+7YEjnZZpNO9UmEoUBdbLrb6R5yzvOzEfObLaaKGct2PrlKBVWTqYJmGX+jbkP7r2WRDQ6gBR6TmEFnisJ6YWEcyxBjWf1CfODeL2jVwIxeCtkCg3ZkCQ5jihyFpwabFKutQ3ks/2hEQ7waWQTKCC009WxF9DsmzC6/5muxjLa7ZeIIS6qMbjY26Ls4/r3ObDMKAoPEFrSQEqBUhZeQR/jgd0xExTU67dLGDcwRPi1x1f5ou3tXdvbkwZ5jMfhuWSej26jyokM60zsF/uWhvmBT6LPXWO6OVf7ZY+KX9sh8Qs9rycdYT+1+gVJc1+YxHOSVcwgwDsjUfqo1GZfN9RhiBnKurBfmXtWaSvRmN1okha5e2GA7OBjBOxxc6n2qbXVSY1j8oXhbYwhs4nx29OS+31u4mPXr0dBXo57l+8pP+AwFF32deJqBt6J20Zz1R06tUl5EAWeUaafFjHrubZthopoCQ2wRFEw=
  file_glob: true
  file:
    - dist/*
  skip_cleanup: true
  on:
    repo: imkira/gcp-iap-auth
    tags: true
